/* Start Global variables*/
:root {
  --main-color: #2196f3;
  --transparent-color: rgb(15 116 143 / 70%);
  --text-color: #6a6a6a;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --main-transition: 0.3s;
  --main-border-color: #d4d4d4;
}

/* End Global variables*/

/* Start General Settings*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 15px 20px;
  font-size: 26px;
  position: relative;
  transition: var(--main-transition);
  margin-bottom: 80px;
  z-index: 999;
}
@media (max-width: 767px) {
  .main-title {
    font-size: 20px;
  }
}
.main-title:hover {
  color: white;
  border: 2px solid transparent;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  transition: var(--main-transition);
  z-index: -1;
}
.main-title::after {
  right: -30px;
  left: auto;
}
.main-title:hover:before {
  animation: move-right 0.5s linear forwards;
}
.main-title:hover:after {
  animation: move-left 0.5s linear forwards;
}
.spikes,
.spikes-two {
  position: relative;
}

.spikes::after,
.spikes-two::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(270deg, white 25%, transparent 25%),
    linear-gradient(180deg, white 25%, transparent 25%);
  background-size: 50px 30px;
}
.spikes-two::after {
  background-image: linear-gradient(270deg, white 25%, transparent 25%),
    linear-gradient(120deg, white 25%, transparent 25%);
}
/* End General Settings*/
/* Start header*/

header {
  min-height: 72px;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}
header .container > img {
  width: 100px;
}
header .container nav > ul {
  display: flex;
}
header .container nav > ul > li > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  height: 72px;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .container nav > ul > li > a {
    height: 50px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
header .container nav > ul > li > a::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header .container nav > ul > li > a:hover {
  background-color: #f7f7f7;
  color: var(--main-color);
}
header .container nav > ul > li > a:hover:after {
  left: 0;
}
/*---> mega-menu styling */
header .mega-menu {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  align-items: start;
  position: absolute;
  right: 0;
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  z-index: -1;
  background-color: white;
  opacity: 0;
  top: calc(100% + 50px);
  transition: 0.6s;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
  }
}
header .container nav > ul > li:last-of-type:hover > .mega-menu {
  top: 100%;
  opacity: 1;
  z-index: 1;
}
header .mega-menu .menu-image {
  flex-basis: 45%;
  text-align: center;
}
header .mega-menu .menu-image img {
  width: 60%;
}
@media (max-width: 1169px) {
  header .mega-menu .menu-image {
    flex-basis: 40%;
  }
}
@media (max-width: 991px) {
  header .mega-menu .menu-image {
    display: none;
  }
}
header .mega-menu .list-group {
  margin-bottom: 20px;
  flex: 1;
}
@media (max-width: 767px) {
  header .mega-menu .list-group {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
}
header .mega-menu .list-group li a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--main-color);
  padding: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 17px;
}
@media (max-width: 767px) {
  header .mega-menu .list-group.fisrt-list {
    margin-bottom: 0;
    font-size: 10px;
  }
  header .mega-menu .list-group.fisrt-list li a:last-of-type {
    border-bottom: 1px solid #eee;
  }
}
header .mega-menu .list-group li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
header .mega-menu .list-group li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  z-index: -1;
  transition: var(--main-transition);
}
header .mega-menu .list-group li a:hover::after {
  left: 0;
}
header .mega-menu .list-group li a i {
  margin-right: 20px;
}

/* End header*/
/* Start Landing*/

.landing {
  background-color: #eee;
  min-height: calc(100vh - 72px);
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .landing {
    min-height: calc(100vh - 118px);
  }
}
.landing .container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing .container .landing-welcome {
  flex-basis: 50%;
  padding: 20px;
}
.landing .container .landing-welcome h2 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  text-align: center;
}
.landing .container .landing-welcome h2 span {
  color: var(--main-color);
  text-transform: uppercase;
}
.landing .container .landing-welcome p {
  line-height: 1.8;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 1199px) {
  .landing .container .landing-welcome h2 {
    font-size: 40px;
  }
  .landing .container .landing-welcome p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .container .landing-welcome h2 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .landing .container .landing-welcome h2 {
    font-size: 25px;
  }
  .landing .container .landing-welcome p {
    font-size: 16px;
  }
}
.landing .landing-video {
  position: relative;
  flex-basis: 25%;
  text-align: center;
}
@media (max-width: 1199px) {
  .landing .landing-video {
    flex-basis: 30%;
  }
}
@media (max-width: 991px) {
  .landing .landing-video {
    flex-basis: 35%;
  }
}
.landing .landing-video video {
  width: 100%;
  border-radius: 20px;
  border: 6px solid var(--main-color);
}
.landing .landing-video img {
  position: absolute;
  width: 70px;
  left: -30%;
  animation: bouncing-X 1.2s linear infinite alternate;
}
@media (max-width: 767px) {
  .landing .container {
    flex-direction: column;
    justify-content: center;
  }
  .landing .container .landing-welcome {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
  }
  .landing .landing-video video {
    width: 50%;
  }
  .landing .landing-video img {
    left: 0;
  }
}
@media (max-width: 300px) {
  .landing .landing-video {
    display: none;
  }
}
.landing a {
  display: block;
  width: fit-content;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.landing a i {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  animation: bouncing 1.5s infinite;
}
@media (max-width: 767px) {
  .landing a {
    display: none;
  }
}
/* End Landing*/
/* Start Articles*/

.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .content .article-box {
  flex-basis: calc(25% - 30px);
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--main-transition);
  overflow: hidden;
  background-color: white;
}
.articles .content .article-box:hover {
  transform: translateY(-10px);
}
.articles .content .article-box:hover i {
  animation: read-more-arrow 0.6s linear infinite;
}
.articles .content .article-box img {
  width: 100%;
}
.articles .content .article-box h3 {
  text-transform: capitalize;
  padding: 20px;
}
.articles .content .article-box > p {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  color: var(--text-color);
  line-height: 1.6;
}
.articles .content .article-box .articles-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #eee;
}
.articles .content .article-box .articles-links a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
}
.articles .content .article-box .articles-links i {
  color: var(--main-color);
}

/* End Articles*/
/* Start Gallery*/

.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  z-index: -2;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  transition: var(--main-transition);
  gap: 30px;
}
@media (max-width: 767px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.gallery .container .gallery-box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  padding: 20px;
}
.gallery .container .gallery-box > div {
  overflow: hidden;
  position: relative;
}
.gallery .container .gallery-box > div:after {
  content: "";
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.158);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.gallery .container .gallery-box > div:hover:after {
  animation: flashing 0.7s;
}
.gallery .container .gallery-box > div:hover img {
  transform: scale(1.1) rotate(3deg);
}
.gallery .container .gallery-box img {
  width: 100%;
  transition: var(--main-transition);
}

/* End Gallery*/
/* Start Features*/
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .features .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.features .feature-box {
  border: 1px solid var(--main-border-color);
}
.features .feature-box .image-holder {
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.features .feature-box .image-holder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.features .quality .image-holder:before {
  background-color: #e91e63;
}
.features .time .image-holder:before {
  background-color: #009688;
}
.features .passion .image-holder:before {
  background-color: #2196f3;
}
.features .feature-box .image-holder:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  transition: 0.5s;
}
.features .feature-box:hover > .image-holder:after {
  border-width: 0px 456px 170px 0px;
}
.features .feature-box img {
  width: 100%;
}
.features .feature-box .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.features .feature-box .content h2 {
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.features .feature-box .content h2:after {
  content: "";
  width: 60%;
  height: 5px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.features .quality .content h2:after {
  background-color: #e91e63;
}
.features .time .content h2:after {
  background-color: #009688;
}
.features .passion .content h2:after {
  background-color: #2196f3;
}
.features .feature-box .content p {
  padding: 30px;
  line-height: 1.8;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
}
.features .feature-box .content a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition-delay: 0.1s;
}
.features .feature-box:hover > .content a {
  color: white;
}
.features .feature-box .content a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  z-index: -1;
}
.features .feature-box:hover > .content a:before {
  left: 0;
}
.features .quality .content a {
  color: #e91e63;
  border: 2px solid #e91e63;
}
.features .quality .content a:before {
  background-color: #e91e63;
}
.features .time .content a {
  color: #009688;
  border: 2px solid #009688;
}
.features .time .content a:before {
  background-color: #009688;
}
.features .passion .content a {
  color: #2196f3;
  border: 2px solid #2196f3;
}
.features .passion .content a:before {
  background-color: #2196f3;
}

/* End Features*/
/* Start Testimonials*/

.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
}
@media (max-width: 767px) {
  .testimonials .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.testimonials .testi-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
.testimonials .testi-box:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  transform: translate(30%, -50%);
  border-radius: 50%;
  background-color: var(--section-background);
}
.testimonials .testi-box img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  transform: translate(30%, -50%);
  border-radius: 50%;
  animation: top-down 0.6s linear infinite alternate;
}
@media (max-width: 767px) {
  .testimonials .testi-box:before {
    width: 80px;
    height: 80px;
    top: -22%;
    right: 50%;
    transform: translateX(50%);
  }
  .testimonials .testi-box img {
    width: 80px;
    height: 80px;
    top: -22%;
    right: 50%;
    transform: translateX(50%);
    animation: top-down-mobile 0.6s linear infinite alternate;
  }
}
.testimonials .testi-box h3 {
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px 0;
}
.testimonials .testi-box .rating {
  padding: 10px 0;
}
.testimonials .testi-box .rating i {
  color: #ffc107;
}
.testimonials .testi-box p {
  line-height: 1.8;
  color: var(--text-color);
}
.testimonials .testi-box p:first-of-type {
  text-transform: capitalize;
  font-weight: 500;
}

/* End Testimonials*/
/* Start Team Members*/

.team-members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .team-members .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.team-members .team-box {
  min-height: 460px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 100px;
  position: relative;
  overflow: hidden;
}
.team-members .team-box:hover > .profile img {
  filter: grayscale(1);
}
.team-members .team-box:hover > .description {
  filter: grayscale(1);
}
.team-members .team-box:after {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--section-background);
  z-index: -2;
  border-radius: 10px;
}
.team-members .team-box:before {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #cfcfcf;
  z-index: -1;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team-members .team-box:hover:before {
  right: 0;
}
.team-members .team-box .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.team-members .team-box .profile img {
  width: 80%;
  border-radius: 10px;
}
.team-members .team-box .profile .social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.team-members .team-box .profile .social-media a {
  text-decoration: none;
}
.team-members .team-box .profile .social-media i {
  color: var(--text-color);
  cursor: pointer;
}
.team-members .team-box .profile .social-media i:hover {
  color: var(--main-color);
}
.team-members .team-box .description {
  transform: translateX(25%);
  line-height: 1.8;
  text-transform: capitalize;
  margin-top: 10px;
}
.team-members .team-box .description h2 {
  color: var(--main-color);
}

/* End Team Members*/
/* Start Services*/

.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .services .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.services .service-box {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  text-align: center;
  transition: var(--main-transition);
  position: relative;
}
.services .service-box:before,
.services .service-box:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transition: var(--main-transition);
}
.services .service-box:after {
  left: auto;
  right: 50%;
}
.services .service-box:hover {
  transform: translateY(-15px);
}
.services .service-box:hover:after {
  width: 50%;
}
.services .service-box:hover:before {
  width: 50%;
}
.services .service-box img {
  width: 30%;
  margin-top: 20px;
}
.services .service-box h2 {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 35px;
}
.services .service-box .service-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}
.services .service-box .service-details p {
  font-size: 30px;
  width: 60px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.services .service-box .service-details p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 105%;
  width: 100px;
  background-color: var(--main-color);
  transform: skewX(-25deg) translateX(20%);
  z-index: -1;
}
.services .service-box .service-details p::after {
  content: "";
  position: absolute;
  top: 0;
  right: -120%;
  height: 105%;
  width: 100px;
  background-color: #c6c6c6;
  transform: skewX(-25deg);
  z-index: -2;
}
.services .service-box .service-details a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--main-color);
  padding-right: 20px;
}

/* End Services*/
/* Start Skills*/

.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.skills .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.skills img {
  width: 40%;
}
.skills .skills-content {
  flex: 1;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .skills img {
    display: none;
  }
  .skills .skills-content {
    margin-left: 0;
  }
}
.skills .skills-content h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.skills .skills-content div {
  width: 100%;
  height: 30px;
  background-color: var(--section-background);
  position: relative;
}
.skills .skills-content div:before {
  content: "80%";
  position: absolute;
  top: -150%;
  right: 0;
  padding: 3px;
  border: 1px solid var(--section-background);
  border-radius: 3px;
  color: var(--main-color);
  font-size: 10px;
  font-weight: bold;
}
.skills .skills-content div:nth-of-type(2):before {
  content: "85%";
}
.skills .skills-content div:nth-of-type(3):before {
  content: "70%";
}
.skills .skills-content div span {
  display: block;
  height: 30px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
}

/* End Skills*/
/* Start How It Work*/

.how-it-work {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
@media (max-width: 767px) {
  .how-it-work .main-title {
    margin-bottom: 30px;
  }
}
.how-it-work .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-it-work .container > img {
  width: 50%;
  animation: moving 1.5s linear infinite alternate;
}
@media (max-width: 767px) {
  .how-it-work .container > img {
    margin-bottom: 40px;
  }
}
@media (max-width: 991px) {
  .how-it-work .container {
    flex-direction: column;
  }
  .how-it-work .container img {
    width: 100%;
  }
}
.how-it-work .content-hiw {
  flex: 1;
}
.how-it-work .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.how-it-work .box:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--section-background);
  transition: var(--main-transition);
  z-index: -1;
}
.how-it-work .box:hover:after {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .how-it-work .box {
    flex-direction: column;
    text-align: center;
  }
}
.how-it-work .box img {
  width: 100px;
  height: 100px;
}
.how-it-work .box .box-content {
  line-height: 1.8;
}
.how-it-work .box .box-content h2 {
  text-transform: capitalize;
  padding: 10px;
}
.how-it-work .box .box-content p {
  padding: 0 10px 10px;
  color: var(--text-color);
}

/* End How It Work*/
/* End Latest Events*/

.latest-events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.dots {
  width: 180px;
  height: 180px;
  background-image: url(../images/dots.png);
  position: absolute;
  top: 25%;
  right: 0;
}
.dots-down {
  right: auto;
  left: 0;
  top: 65%;
}
@media (max-width: 991px) {
  .dots-down {
    top: 25%;
  }
}
@media (max-width: 500px) {
  .dots {
    display: none;
  }
}
.latest-events .event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-events .event img {
  width: 45%;
  z-index: 1;
}
@media (max-width: 991px) {
  .latest-events .event {
    margin-bottom: 40px;
  }
  .latest-events .event img {
    display: none;
  }
}
.latest-events .event .event-info {
  flex: 1;
  text-align: center;
}
.latest-events .event .event-info .counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest-events .event .event-info .counter div {
  width: 70px;
  margin-left: 20px;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
@media (max-width: 300px) {
  .latest-events .event .event-info .counter div {
    width: 45px;
    margin-left: 5px;
  }
}
.latest-events .event .event-info .counter div span {
  display: block;
  text-transform: capitalize;
}
.latest-events .event .event-info .counter div span:first-of-type {
  font-size: 30px;
  color: var(--main-color);
  font-weight: bold;
  padding: 20px 0;
}
.latest-events .event .event-info .counter div span:last-of-type {
  font-size: 12px;
  padding: 10px 0;
  border-top: 1px solid var(--main-border-color);
}
@media (max-width: 300px) {
  .latest-events .event .event-info .counter div span:first-of-type {
    font-size: 20px;
  }
  .latest-events .event .event-info .counter div span:last-of-type {
    font-size: 10px;
  }
}
.latest-events .event .event-info h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 30px;
}
.latest-events .event .event-info p {
  line-height: 1.8;
  color: var(--text-color);
}
.latest-events .event .event-info p span {
  font-weight: bold;
  color: var(--main-color);
}
.latest-events form {
  background-color: #eee;
  padding: 30px 40px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .latest-events form {
    width: 90%;
    flex-direction: column;
    border-radius: 0;
    padding: 20px;
  }
}
.latest-events form [type="email"] {
  flex-basis: 70%;
  padding: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  caret-color: var(--main-color);
}
.latest-events form [type="email"]::placeholder {
  text-transform: capitalize;
}
.latest-events form [type="submit"] {
  padding: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
@media (max-width: 767px) {
  .latest-events form [type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    margin-bottom: 20px;
    caret-color: var(--main-color);
  }
  .latest-events form [type="email"]::placeholder {
    font-size: 12px;
  }
  .latest-events form [type="submit"] {
    padding: 20px;
    margin-left: auto;
    border-radius: 0;
    width: 100%;
  }
}

/* End Latest Events*/
/* Start Pricing Plans*/

.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 300px) {
  .pricing .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.pricing .price-box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  text-align: center;
  background-color: white;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.pricing .price-box:after,
.pricing .price-box:before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #f9f9f9;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .price-box:before {
  top: auto;
  left: auto;
  bottom: 0;
  right: -100%;
}
.pricing .price-box:hover:before {
  right: 0;
}
.pricing .price-box:hover:after {
  left: 0;
}
.pricing .advanced {
  transform: translateY(-20px);
}
@media (max-width: 991px) {
  .pricing .advanced {
    transform: translateY(0);
  }
}
.pricing .price-box h2 {
  text-transform: capitalize;
  margin: 30px auto;
}
.pricing .price-box > i {
  font-size: 80px;
  color: var(--main-color);
  margin-bottom: 30px;
}
.pricing .price-box > p:first-of-type {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing .price-box > p:last-of-type {
  margin: 10px auto 30px;
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 14px;
}
.pricing .price-box .sub-features {
  margin-bottom: 20px;
}
.pricing .price-box .sub-features div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid var(--main-border-color);
}
.pricing .price-box .sub-features div i {
  color: var(--main-color);
  font-weight: 600;
}
.pricing .price-box .sub-features div .x-mark {
  color: red;
}
.pricing .price-box .sub-features > div > p {
  margin-left: 20px;
  text-align: start;
}
.pricing .price-box > a {
  display: block;
  width: fit-content;
  margin: 40px auto;
  padding: 15px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .price-box > a:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .advanced .label {
  position: absolute;
  top: 58px;
  right: -20px;
  transform: rotate(90deg);
  background-color: var(--main-color);
  padding: 10px 40px 10px 10px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}
@media (max-width: 300px) {
  .pricing .advanced .label {
    top: 58px;
    right: -50px;
  }
}
.pricing .advanced .label:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1px;
  border: 20px solid;
  transition: var(--main-transition);
  border-color: transparent white transparent transparent;
}
.pricing .price-box:hover > .label:before {
  border-color: transparent #f9f9f9 transparent transparent;
}
/* End Pricing Plans*/
/* Start Top Videos*/

.top-videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.top-videos .videos-box {
  display: grid;
  grid-template-columns: 30% 1fr;
  border: 1px solid var(--main-border-color);
}
@media (max-width: 991px) {
  .top-videos .videos-box {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
}
.top-videos .videos-box .videos-list .update-videos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}
.top-videos .videos-box .videos-list .update-videos h3 {
  text-transform: capitalize;
}
.top-videos .videos-box .videos-list ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  padding: 20px;
  color: black;
  text-transform: capitalize;
  cursor: pointer;
}
.top-videos .videos-box .videos-list ul li:not(.active):hover {
  background-color: #f8f8f8;
}
.top-videos .videos-box .videos-list ul .active {
  background-color: var(--section-background);
  color: var(--main-color);
}
.top-videos .videos-box .videos-list ul li span {
  margin-top: 10px;
  color: var(--text-color);
}
.top-videos .videos-box .videos-list ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--main-border-color);
}
.top-videos .videos-box .preview {
  background-color: var(--section-background);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .top-videos .videos-box .preview {
    justify-content: flex-start;
    gap: 10px;
  }
}
.top-videos .videos-box .preview video {
  width: 100%;
}
.top-videos .videos-box .preview p {
  text-transform: capitalize;
  padding: 20px;
  background-color: white;
}

/* End Top Videos*/
/* Start Statistics*/

.statistics {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(../images/our.png);
  background-size: cover;
  position: relative;
}
.statistics .stat-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffffbd;
}
.statistics .container h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
  text-transform: capitalize;
  position: relative;
}
.statistics .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  text-align: center;
  z-index: 1;
}
.statistics .container .content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
.statistics .container .content div:after,
.statistics .container .content div:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  transition: 0.6s;
  background-color: var(--main-color);
}
.statistics .container .content div:before {
  top: 0;
  left: 0;
}
.statistics .container .content div:after {
  bottom: 0;
  right: 0;
}
.statistics .container .content div:hover:after,
.statistics .container .content div:hover:before {
  height: 100%;
}
.statistics .container .content div i {
  font-size: 30px;
  font-weight: bold;
}
.statistics .container .content div span {
  font-size: 50px;
  font-weight: bold;
}
.statistics .container .content div p {
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
}

/* End Statistics*/
/* Start Discount*/
.discount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .discount {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.discount .info-discount {
  padding: 80px 40px 40px;
  background-image: url(../images/discount-background1.jpg);
  text-align: center;
  position: relative;
  z-index: -1;
  animation: change-background 6s linear infinite alternate;
}
.discount .info-discount:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2196f3f5;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.discount .info-discount h2,
.discount .discount-form h2 {
  text-transform: capitalize;
  color: white;
  font-size: 35px;
  margin: 30px auto;
  z-index: 1;
}
.discount .info-discount p {
  line-height: 1.8;
  color: white;
  font-weight: 500;
  z-index: 1;
}
.discount .info-discount img {
  animation: moving 0.6s linear infinite alternate;
  z-index: 1;
  width: 60%;
}
.discount .discount-form {
  padding: 80px 40px 40px;
  text-align: center;
}
.discount .discount-form h2 {
  color: black;
}
.discount .discount-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.discount .discount-form form input {
  width: 60%;
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid var(--main-border-color);
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .discount .discount-form form input {
    width: 100%;
  }
}
.discount .discount-form form input::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 12px;
}
.discount .discount-form form [type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}
.discount .discount-form form textarea {
  height: 200px;
  width: 60%;
  border: none;
  outline: none;
  background-color: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid var(--main-border-color);
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .discount .discount-form form textarea {
    width: 100%;
  }
}

/* End Discount*/
/* Start Footer*/

footer {
  background-color: black;
  padding-top: var(--main-padding-top);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}
footer .footer-info h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
}
footer .footer-info .social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
footer .footer-info .social-media li:first-of-type:hover i {
  background-color: #1877f2;
}
footer .footer-info .social-media li:nth-of-type(2):hover i {
  background-color: #1da1f2;
}
footer .footer-info .social-media li:last-of-type:hover i {
  background-color: #ff0000;
}
footer .footer-info .social-media i {
  background-color: var(--text-color);
  color: #b9b9b9;
  font-size: 20px;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 12px;
  margin-right: 10px;
  transition: var(--main-transition);
}
footer .footer-info p {
  line-height: 1.8;
  margin-top: 20px;
  color: #b9b9b9;
}
@media (max-width: 767px) {
  footer .footer-info .social-media {
    justify-content: center;
  }
  footer .footer-info h2 {
    text-align: center;
  }
  footer .footer-info p {
    text-align: center;
  }
}
footer .important-link div {
  border-bottom: 1px solid #444;
}
footer .important-link a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #b9b9b9;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  footer .important-link a {
    justify-content: center;
  }
}
footer .important-link a:hover {
  transform: translateX(10px);
}
footer .important-link a i {
  color: var(--main-color);
  margin-right: 10px;
}
footer .address > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #b9b9b9;
  padding: 20px;
}
@media (max-width: 767px) {
  footer .address > div {
    flex-direction: column;
    gap: 10px;
  }
}
footer .address div i {
  margin-right: 20px;
  color: var(--main-color);
  font-size: 20px;
}
footer .address div p {
  text-transform: capitalize;
}
@media (max-width: 767px) {
  footer .address div i {
    margin-right: 0;
    font-size: 30px;
  }
  footer .address div p {
    text-align: center;
  }
}
footer .address div div p:first-of-type {
  margin-bottom: 10px;
}
footer .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 13px;
}
@media (max-width: 767px) {
  footer .images {
    justify-content: center;
  }
}
footer .images img {
  border: 3px solid white;
  width: 30%;
}
footer .designer {
  color: white;
  padding: 25px;
  text-align: center;
  text-transform: capitalize;
  border-top: 1px solid #444;
  font-size: 14px;
}
footer .designer span {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer*/
/* For js */
.for-js .go-top {
  color: var(--main-color);
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: -100%;
  transition: var(--main-transition);
  cursor: pointer;
  z-index: 99;
}
.for-js .show-go-top {
  right: 20px;
}
.for-js .top-bar-progress {
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* Start Animations*/

@keyframes moving {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bouncing-X {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40%,
  60% {
    transform: translateX(-15px);
  }
}
@keyframes move-right {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes move-left {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes read-more-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes top-down {
  100% {
    transform: translate(30%, -60%);
  }
}
@keyframes top-down-mobile {
  100% {
    transform: translate(50%, -10%);
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
